/*Header*/

/*Body*/
.aerror{
    margin-top: 150px;     
}
    .aerror h1{
    color: #8d8a8a;
    font-size: 80px;            
    }
    .aerror h2{
        color: #8d8a8a;
        font-size: 30px;            
    }
    .aerror a{
        font-size: 25px;
    }
/*Footer*/