/* General */
    /* Plantilla genérica para la página principal y dependencias*/
    body{
        /*font-family: 'PT-Sans', sans-serif;*/
        /*font-family: 'Josefin Sans', sans-serif;*/
        font-family: 'Rubik', sans-serif;
    }
/* Header */
    header{
        /*colores candidatos #17c89c ; #f7f7f7*/
        background-color: #f7f7f7;
        padding-top: 25px;
    }
    .social-header{
        /* Para cambiar posicion de los iconos de redes sociales */
        margin-top: 50px;
        text-align: right;
        padding-right: 80px;
    }
    .social-header a {
        color:#17c89c;
        
    }
    .social-header a .fa-inverse{
        color:#ffffff;
        
    }
    /*Personalización del Menú bar: */
    .menu-bar{
        background-color: #17c89c;
        margin-top: 2px;
        padding-bottom: 2px;
        text-align: center;  
          
    }
    .menu-bar a{
        color:#ffffff;
        font-size: 15px;
        font-weight: 400;
         
    }
    .menu-bar a :hover {
        /*Cuando se pase por encima de un enlace:*/
        text-decoration: none;
        color:rgb(105, 218, 31);
    }
    .menu-list{
        padding: 12px 0;
        margin-bottom: 0;
    }
    .menu-list > li:not(:last-child){
        margin-right: 40px;
    }

/* Content */
    /*carousel*/
    #slider-home{
        margin-bottom: 50px;

    }
    .carousel-caption{
        /*Para modificar el color de fondo en textos de los slides*/
        background-color: rgba(5, 48, 49, 0.75);
        height: 400px;
        left: 30px;
        top: 0;
        padding: 30px 45px;
        text-align: center;
        width: 380px;
    }
    .carousel-caption p {
        font-size: 17px;
        line-height: 18px;
    }
    .carousel-caption h2 {
        font-size: 30px;
        line-height: 35px;
    }
    .carousel-caption h4 {
        font-size: 20px;
        line-height: 30px;
        margin-top: 8px;
    }
    .carousel-caption img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        
    }
    .carousel-caption a {
        border-radius: 0;
        font-weight: bold;
        color: #f8faf9;
        border: none;
        
    }
    .btn-primary {
        color: #f7f7f7;
    }
/*Barra superior de la pagina
.supbar {
    
    background: #17c89c;
    padding-bottom: 10px;
    padding-top: 10px;
}
*/
/* Footer */
